body {
    margin: 0 auto;
    background-color: 0x000;
    font-family: sans-serif;
}

#infobox {
    position: fixed;
    color: white;
    padding: 0.7em;
    background-color: #333;
    font-size: 0.7em;
}
