body {
    margin: 0 auto;
    background-color: 0x000;
    font-family: sans-serif;
    color: white;
}

a {
    color: white;
    transition: color 0.25s;
}

a:hover {
    color: #a3d356;
}

#infobox {
    position: fixed;
    padding: 0.7em;
    background-color: #333;
    font-size: 0.7em;
    z-index: 2;
    opacity: 0.3;
    transition: opacity 0.25s;
}

#infobox:hover {
    opacity: 1.0;
}

#rendering-output {
    z-index: 1;
}

#infobox h1 {
    font-size: 1.2em;
    margin: 0 auto;
}

#infobox a {
    display: block;
}
